<?xml version="1.0" encoding="UTF-8"?>
<web-app id="web-sso-sample" version="3"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Example SSO SAMLv2 Web Application by WSO2 Identity Components</display-name>

    <listener>
        <listener-class>org.wso2.carbon.identity.sso.agent.saml.SSOAgentHttpSessionListener</listener-class>
    </listener>

    <error-page>
        <exception-type>org.wso2.carbon.identity.sso.agent.SSOAgentException</exception-type>
        <location>/errors.jsp</location>
    </error-page>
</web-app>
